<?xml version="1.0"?>
<configuration>
  <connectionStrings></connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="Default" name="Interchange.WCF.HubExternal">
        <endpoint address="https://localhost:44304/" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_Interchange" name="b6HttpsEndpoint"
          contract="Interchange.WCF.IHubExternal" />
        <!--<endpoint address="" binding="customBinding" bindingConfiguration="soapLoggerBindingHttps" contract="LA.WCF.IInterchange" />-->
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Default">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_Interchange">
          <security mode="Transport"></security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="soapLoggerBindingHttps">
          <soapLoggerMessageEncoding logPath="C:\inetpub\wwwroot\interchange_wcf\App_Data" useCustomHandler="false" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <extensions>
      <bindingElementExtensions>
        <add name="soapLoggerMessageEncoding" type="WcfSoapLogger.EncodingExtension.LoggingExtensionElement, WcfSoapLogger"/>
      </bindingElementExtensions>
    </extensions>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="false"/>
  </system.webServer>
</configuration>
