<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings></connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="DefaultConnectionString" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="Default" name="Interchange.WCF.HubExternal">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Interchange" name="b6HttpsEndpoint" contract="Interchange.WCF.IHubExternal" />
        <!--<endpoint address="" binding="customBinding" bindingConfiguration="soapLoggerBindingHttps" contract="LA.WCF.IInterchange" />-->
      </service>
      <service behaviorConfiguration="Default" name="Interchange.WCF.HubInternal">
        <endpoint address="api" binding="webHttpBinding" bindingConfiguration="WebHttpBinding_Interchange" contract="Interchange.WCF.IHubExternal" behaviorConfiguration="WebHttpBehavior" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Default">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="WebHttpBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add factory="Ninject.Extensions.Wcf.NinjectServiceHostFactory" service="Interchange.WCF.HubExternal" relativeAddress="ssiclient.svc" />
        <add factory="Ninject.Extensions.Wcf.NinjectServiceHostFactory" service="Interchange.WCF.HubInternal" relativeAddress="xchange.svc" />
      </serviceActivations>
    </serviceHostingEnvironment>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_Interchange">
          <security mode="Transport"></security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="soapLoggerBindingHttps">
          <soapLoggerMessageEncoding logPath="C:\inetpub\wwwroot\interchange_wcf\App_Data" useCustomHandler="false" />
          <httpsTransport />
        </binding>
      </customBinding>
      <webHttpBinding>
        <binding name="WebHttpBinding_Interchange">
          <security mode="Transport"></security>
        </binding>
      </webHttpBinding>
    </bindings>
    <extensions>
      <bindingElementExtensions>
        <add name="soapLoggerMessageEncoding" type="WcfSoapLogger.EncodingExtension.LoggingExtensionElement, WcfSoapLogger" />
      </bindingElementExtensions>
    </extensions>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ninject.Web.Common" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.4.0" newVersion="3.3.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
